body, html {
    height: 100%;
    margin: 0%;
}

a {
    text-decoration: none;
}

.block {
    display: block;
    width: 100%;
    border: none;
    background-color:yellow;
    color: yellow;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
  }

.bg-img {
    background-color: #F1F6F5;
    padding-top: 3%;
    height: 100%;
   text-align: center;
   font-size:15px;
   
}

/* login-form */

#login-font {
  padding: 7% 0 7%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  color: #4a4a4a;
  font-weight: 600;
}
.login-form {
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  font-family: "Montserrat";
  position: relative;
  top: 12%;
  max-width: 30%;
  min-width: 350px;
  padding:0px 15px 20px;
  text-align: center;
  margin: auto;
  box-shadow: 0px 1px 15px #d9e0df,0px 3px 15px #d9dade ;
}
input {
  box-shadow: rgb(0 0 0 / 10%) 0px 1px 4px inset, transparent 0px 0px 0px;;
  width: 90%;
  height: 50px;
  padding: 15px;
  margin: 5px 0 22px 0px;
  border: none;
  background-color: #f6f6f6;
  color: #4a4a4a;
}
input:focus {
  outline: none;
  background-color: #EFEFEF;
}
  
/* Button and Forgot Password */
.btn {
    position: relative;
    margin:0%;
    left: 3%;
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 12px;
    background-color: #1877f2;
    width: 40%;
    margin-bottom: 6%;
    color: #F1F6F5;
    box-shadow: 0 4px 12px 0 #1877f2;
}
.btn:hover {
  background-color: #1c6cbc;
  color: #fff;
}

.forgot-password {
    position: relative;
    right: 4%;
    bottom: 5%;
    text-decoration: none;
    color: #2a6eb1;
}
.forgot-password:hover {
    color: #2a6eb1;
    text-decoration: underline;
}
.Sign-up {
    position: relative;
    right: 5%;
    bottom:1%;
    text-decoration: none;
    color: #2a6eb1;
}
.Sign-up:hover {
    color: #2a6eb1;
    text-decoration: underline;
}

/* marquee */

.marquee {
    background-color: #186ddd;
    width: 100%;
    height: 45px;
    margin: 0 auto 1px;
    overflow: hidden;
    white-space: nowrap;
}
.marquee span {
    display: inline-block;
    text-align:center;
    color: lightcyan;
    font-size: 25px;
    position: relative;
    left: 100%;
    animation: marquee 40s linear infinite;
}
.marquee:hover span {
    animation-play-state: paused;
}
  
.marquee span:nth-child(1) {
    animation-delay: 0s;
}
.marquee span:nth-child(2) {
    animation-delay: 3s;
}
.marquee span:nth-child(3) {
    animation-delay: 6s;
}
.marquee span:nth-child(4) {
    animation-delay: 9s;
}
.marquee span:nth-child(5) {
    animation-delay: 12s;
}

@keyframes marquee {
    0%   { left: 100%; }
    100% { left: -100%; }
}

span {
    content: "\003F";
    font-size: 15px;
}
  
.container-fluid {
    padding: 30px;
    font-family: "Montserrat";
    background-color: #3C4048;
    color: #B2B2B2;
    text-align:center;
    margin-bottom:10px;
    
}
.list
{
    
        color:white;
        margin-left:14%;
        margin-bottom:1px;
    

}
span {
    content: "\00A9";
    font-size: 15px;
  }