body {
    background-color: #f4fff8;
    margin: 0;
    height:100%;
}

#first-title {
    background-color: #91D8E4;
    /*background-color: darkblue;*/
    color: #1a6977;
}

#first-title h3{
    font-size: 20px;
}

.company-title {
    padding: 10px 20px;
    margin: 0;
}

.navbar {
    background-color: #10A19D;
   
    box-shadow: 0 2px 15px rgb(0 0 0 / 8%), 0 4px 6px rgb(0 0 0 / 8%);
    margin:0px;
}

.navbar-brand {
    color: #fff;
    font-weight: 500;
    margin-left: 5px;
}
.navbar-brand:hover,.navbar-brand:focus {
    color: #fff;
}

.nav-link {
    color: #fff;
    font-size: 18px;
    font-weight: 400;
    padding: 10px;
    padding-left: 10px;
}
.navbar-right-items .nav-link:hover {
    color: #fff;
    background-color: #62B6B7;
}
.navbar-right-items .nav-link:focus {
    color: #fff;
    background-color: #62B6B7;  
}

.navbar-left-items .nav-link {
    color: rgb(80, 80, 80);
}
.navbar-left-items .nav-link:hover,.nav-link:focus {
    color: rgb(31, 31, 31);
}

.navbar-nav .nav-link.active {
    font-weight: 500;
    color: #fff;
    background-color: #62B6B7;
}

.navbar-toggler {
    border: none;
}
.navbar-toggler:focus {
    border: none;
    box-shadow: 0 0;
}

.dropdown-menu {
    border-radius: 0;
    padding: 0;
    position: relative;
    left: 0;
}

.dropdown-item {
    padding: 10px 40px 10px 20px;
    background-color: #62B6B7;
    color: #fff;
}

.dropdown-item:hover {
    background-color: #10A19D;
    color: #fff;
}

show:focus {
    color: #fff;
}

.dropdown-menu-end .dropdown-item {
    padding: 10px 0px 10px 20px;
}

.dropdown-divider {
    margin: 0;
}

.menu-icon {
    margin-right: 10px;
}
.f1
{
    font-size:40px;
    margin-top:1%;
    margin-left:43%;
    color:green
}
.t1
{
    margin-left:25%;
    margin-top:3%;
    width:60%;
    
    
}
.container1{

    background-color: black; 
    width:1500px;
    height:100px;
    font-size:15px;
    margin-top:750px;
    color:greenyellow;
    text-align:center;}
    .center {
margin: 0 auto;

}
.content1{
 
    width:70%;
    height:200px;
    font-size:15px;
    margin-top:80px;
    margin-right:60px;
    text-align:left;}
    .ho1
    {
        margin-top:100px;
    }
    #s3 {
        width: 1500px;
        margin-top: 10px;
        margin-bottom: 90px;
        margin-right:100%;
        margin-left: 0px;
        background-color: rgba(255, 255, 255, 0.014);
        text-align: center;
        color: #313131;
        font-size: 20px;
        position: absolute;
        -webkit-animation: colorchange 20s infinite alternate;
      }
      
      @-webkit-keyframes colorchange {
        0% {
          color: blue;
        }
        10% {
          color: #8e44ad;
        }
        20% {
          color: #1abc9c;
        }
        30% {
          color: violet;
        }
        40% {
          color: blue;
        }
        50% {
          color: green;
        }
        60% {
          color: blue;
        }
        70% {
          color: darkorange;
        }
        80% {
          color: yellow;
        }
        90% {
          color: darkred;
        }
        100% {
          color: darkpink;
        }
      }
      .cont{
        padding: 30px;
        font-family: "Montserrat";
        background-color: #3C4048;
        color: #B2B2B2;
        text-align:center;
        margin-top:1200px;
        
    }
    body {
        margin: 25px;
      }
      
      .icon-button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        color: white;
        background-color: #10A19D;
        border: none;
        outline: none;
        border-radius: 100%;
      }
      
      .icon-button:hover {
        cursor: pointer;
      }
      
      .icon-button:active {
        background: #3C4048;
      }
      
      .icon-button__badge {
        position: absolute;
        top: -5px;
        right: -5px;
        width: 25px;
        height: 25px;
        background: red;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }
      #open_dialog {
        margin: 100px auto;
      }
      
      dialog {
        border: none !important;
        border-radius: 5%;
        box-shadow: 0 0 #0000, 0 0 #0000, 0 25px 50px -12px rgba(0, 0, 0, 0.25);
        padding: 1.6rem;
        text-align: center;
        font-weight: bold;
        font-size: 17px;
        max-width: 800px;
      }

      button {
        border-radius: 3px;
        outline: auto;
      }

     
      
      