body h1 {
    text-align: center;
}

hr {
    border-bottom: 0;
    width: 85%;
    position: relative;
    right: 7.5%;
}

h1,h3,p,a {
    color: rgb(98, 75, 42);
}

h1 {
    padding-top: 25px;
}

h3 {
    font-size: 16px;
    font-weight: 100;
    transition: all 200ms;
}

p {
    font-size: 13px;
}

.all-divs {
    display: flex;
    justify-content: center;
}

.divs {
    width: 35%;
    margin: 40px 10px;
}

a h3:hover {
    font-size: 17.5px;
    text-shadow: 1px black;
}
.cot{
    padding: 10px;
    font-family: "Montserrat";
    background-color:lightgrey;
    color: black;
    text-align:center;
    margin-top:250px;
    width:100%;
    
}